body {
  display: flex;
  font-family: 'Sen', sans-serif;
  background: rgb(240, 215, 151);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.pad {
  border-width: 5px;
  margin: 1px;
  border-style: solid;
  border-color: grey;
  outline: 4px solid #202020;
  background-color: black;
  color: white;
  display: flex;
  height: 100px;
  width: 150px;
  flex: 1 0 21%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 2px;
  font-size: 25px;
}

.selected {
  border-color: red;
  font-size: 20px;
}
.padContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  align-self: center;
}
.buttons {
  display: flex;
  margin-bottom: 10px;
  width: 48%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.done {
  background-color: green;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pads {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  flex-wrap: wrap;
}
.focus-window {
  outline: none;
}
input {
  outline: none;
  width: 50px;
}
button {
  /* Blue background */
  background-color: hsl(0, 0%, 0%);
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 6px 8px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  outline: none;
  border-radius: 2px;
  height: 40px;
}
.start {
  border-radius: 5px;
  background-color: green;
}
.stop {
  border-radius: 5px;
  background-color: red;
}
.start,
.stop {
  width: 40px;
  margin-left: 1px;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.metronome {
  display: flex;
}
#metronome-icon {
  max-width: 30px;
  max-height: 30px;
}
h1 {
  color: black;
  font-size: 40px;
}
.metronome input {
  width: 35px;
}

img {
  max-height: 100%;
  max-width: 100%;
}
.keys {
  border-radius: 4px;
  border: 1 solid black;
}
.editpad {
  display: flex;
  justify-content: space-around;
}
.editpad input {
  width: 40px;
}
.logo-selected {
  transform: rotate(45deg); /* Equal to rotateZ(45deg) */
  background-color: pink;
}
.logo-container {
  max-height: 200px;
  max-width: 200px;
}
