body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.pad {
  background-color: black;
  color: white;
  display: flex;
  height: 150px;
  width: 150px;
  align-items: center;
  justify-content: center;
}
.selected {
  background-color: red;
}
.padContainer {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
}
.focus-window {
  outline: none;
}
